@model Reservation

@{
    Layout = null;
}

<!DOCTYPE html>
<html style="height:30%">
<head>
    <title>Print</title>
</head>
<body style="height:30%;direction: rtl;" id="printd">
    <h2 style="">
        <a style="text-decoration:none" asp-action="Index">كوكوجو كيدز ايريا</a>
    </h2>
    @if (Model.Receipt.BarCode != null)
    {
        <img src="@String.Format("data:image/png;base64,{0}",
                                Convert.ToBase64String(Model.Receipt.BarCode))" />


    }
    else
    {
        <p> @Model.Receipt.SerialKey</p>
    }
    <div>
        <p>وقت البدء : @Model.StartReservationTme</p>

        @if (Model.EndReservationTme != new DateTime(2021, 1, 1, 12, 0, 0) && Model.EndReservationTme != new DateTime())
        {
            <p>وقت الانتهاء : @Model.EndReservationTme</p>
            <p>اجمالى الوقت : @((int)Model.EndReservationTme.Subtract(@Model.StartReservationTme).TotalMinutes) min</p>

            @if (Model.TotatCost != 0)
            {
                <p> اجمالى التكلفه: @Model.TotatCost</p>
                <p>  الخصم: @Model.Discount</p>
                <p>  الاجمالى بعد الخصم: @Model.CostAfterDiscount</p>
            }
        }
    </div>
</body>
</html>
