@model Reservation

<form asp-action="PrintReceipt" method="post">
    <div class="container row border ml-1 backgroundWhiteBorder10Padding" style="width:100%">
        <div class="col-md-7 col-12" style="border-right:1px solid #bbb9b9">
            <br />
            <input type="hidden" asp-for="@Model.ReservationId" />
            <input type="hidden" asp-for="@Model.Receipt.BarCode" />


            <div class="form-group row">
                <div class="col-3">
                    <label asp-for="@Model.StartReservationTme"></label>
                </div>
                <div class="col-9">
                    <input asp-for="@Model.StartReservationTme" disabled class="form-control" />
                </div>
            </div>

            <div class="form-group row">
                <div class="col-3">
                    <label asp-for="@Model.EndReservationTme"></label>
                </div>
                <div class="col-9">
                    <input asp-for="@Model.EndReservationTme" disabled class="form-control" />
                </div>
            </div>

            <div class="form-group row">
                <div class="col-3">
                    <label>Cost</label>
                </div>
                <div class="col-9">
                    <input asp-for="@Model.TotatCost" disabled class="form-control" />
                </div>
            </div>

            <div class="form-group row">
                <div class="col-3">
                    <label asp-for="@Model.Discount"></label>
                </div>
                <div class="col-9">
                    <input asp-for="@Model.Discount" class="form-control" />
                </div>
            </div>

            <button value="Submit" type="submit" class="btn btn-primary text-white form-control">Check Out</button>
        </div>
        <div class="col-md-5 col-6 mt-3">
            <div class="col-md-12">

                <img src="@String.Format("data:image/png;base64,{0}",
                                Convert.ToBase64String(Model.Receipt.BarCode))" height="300" width="300" />

            </div>
        </div>
    </div>
</form>